<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0attack00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.58241,0.42857}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{89,68}</string>
                <key>spriteSourceSize</key>
                <string>{91,70}</string>
                <key>textureRect</key>
                <string>{{265,313},{89,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0attack01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.6,0.46363}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{158,108}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{183,1},{158,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0attack10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.63043,0.40411}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{90,71}</string>
                <key>spriteSourceSize</key>
                <string>{92,73}</string>
                <key>textureRect</key>
                <string>{{150,802},{90,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0attack11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.60256,0.45454}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{154,108}</string>
                <key>spriteSourceSize</key>
                <string>{156,110}</string>
                <key>textureRect</key>
                <string>{{1,275},{154,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0attack20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.36096,0.44029}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{91,65}</string>
                <key>spriteSourceSize</key>
                <string>{93,67}</string>
                <key>textureRect</key>
                <string>{{172,875},{91,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0attack21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.42771,0.41666}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{81,70}</string>
                <key>spriteSourceSize</key>
                <string>{83,72}</string>
                <key>textureRect</key>
                <string>{{297,667},{81,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0attack22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.57483,0.29807}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{145,102}</string>
                <key>spriteSourceSize</key>
                <string>{147,104}</string>
                <key>textureRect</key>
                <string>{{1,632},{145,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0attack30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.48557,0.34883}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{67,84}</string>
                <key>spriteSourceSize</key>
                <string>{69,86}</string>
                <key>textureRect</key>
                <string>{{380,666},{67,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0attack31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.48305,0.30611}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{57,96}</string>
                <key>spriteSourceSize</key>
                <string>{59,98}</string>
                <key>textureRect</key>
                <string>{{93,926},{57,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0attack32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.68794,0.69354}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{139,122}</string>
                <key>spriteSourceSize</key>
                <string>{141,124}</string>
                <key>textureRect</key>
                <string>{{1,385},{139,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0attack40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.35567,0.34883}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{95,84}</string>
                <key>spriteSourceSize</key>
                <string>{97,86}</string>
                <key>textureRect</key>
                <string>{{259,383},{95,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0attack41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.927778,0.43478}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{106,67}</string>
                <key>spriteSourceSize</key>
                <string>{108,69}</string>
                <key>textureRect</key>
                <string>{{157,313},{106,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0attack42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.6282,0.58695}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{154,90}</string>
                <key>spriteSourceSize</key>
                <string>{156,92}</string>
                <key>textureRect</key>
                <string>{{1,926},{154,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0attack50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.38461,0.64423}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{76,102}</string>
                <key>spriteSourceSize</key>
                <string>{78,104}</string>
                <key>textureRect</key>
                <string>{{142,493},{76,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0attack51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.55102,0.25471}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{47,104}</string>
                <key>spriteSourceSize</key>
                <string>{49,106}</string>
                <key>textureRect</key>
                <string>{{210,382},{47,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0attack52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.48375,0.29545}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{62,86}</string>
                <key>spriteSourceSize</key>
                <string>{64,88}</string>
                <key>textureRect</key>
                <string>{{380,752},{62,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0attack53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.50549,0.55839}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{180,135}</string>
                <key>spriteSourceSize</key>
                <string>{182,137}</string>
                <key>textureRect</key>
                <string>{{1,1},{180,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0dead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.6909,0.67777}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{108,43}</string>
                <key>spriteSourceSize</key>
                <string>{110,45}</string>
                <key>textureRect</key>
                <string>{{105,632},{108,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0evade0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.48148,0.44117}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{52,66}</string>
                <key>spriteSourceSize</key>
                <string>{54,68}</string>
                <key>textureRect</key>
                <string>{{358,874},{52,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0evade1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.48039,0.4522}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{49,65}</string>
                <key>spriteSourceSize</key>
                <string>{51,67}</string>
                <key>textureRect</key>
                <string>{{105,875},{49,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0evade2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.327586,0.34337}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{56,81}</string>
                <key>spriteSourceSize</key>
                <string>{58,83}</string>
                <key>textureRect</key>
                <string>{{439,547},{56,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0fly0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.33333,0.27227}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{70,99}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{150,701},{70,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0fly1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.38571,0.27451}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{68,100}</string>
                <key>spriteSourceSize</key>
                <string>{70,102}</string>
                <key>textureRect</key>
                <string>{{227,594},{68,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0idle0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.7093,0.41095}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{84,71}</string>
                <key>spriteSourceSize</key>
                <string>{86,73}</string>
                <key>textureRect</key>
                <string>{{93,1024},{84,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0idle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.69411,0.41095}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{83,71}</string>
                <key>spriteSourceSize</key>
                <string>{85,73}</string>
                <key>textureRect</key>
                <string>{{342,1018},{83,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0idle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.68674,0.41095}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{81,71}</string>
                <key>spriteSourceSize</key>
                <string>{83,73}</string>
                <key>textureRect</key>
                <string>{{425,344},{81,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0jump0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.33333,0.30851}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{70,92}</string>
                <key>spriteSourceSize</key>
                <string>{72,94}</string>
                <key>textureRect</key>
                <string>{{222,701},{70,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0ladder0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.41549}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{45,69}</string>
                <key>spriteSourceSize</key>
                <string>{47,71}</string>
                <key>textureRect</key>
                <string>{{427,1018},{45,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0ladder1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.42957}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{45,69}</string>
                <key>spriteSourceSize</key>
                <string>{47,71}</string>
                <key>textureRect</key>
                <string>{{449,630},{45,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0rope0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.4315}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{45,71}</string>
                <key>spriteSourceSize</key>
                <string>{47,73}</string>
                <key>textureRect</key>
                <string>{{425,427},{45,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0rope1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.39705}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{45,66}</string>
                <key>spriteSourceSize</key>
                <string>{47,68}</string>
                <key>textureRect</key>
                <string>{{406,950},{45,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0walk0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.7,0.461538}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{88,76}</string>
                <key>spriteSourceSize</key>
                <string>{90,78}</string>
                <key>textureRect</key>
                <string>{{152,942},{88,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0walk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.738095,0.434211}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{82,74}</string>
                <key>spriteSourceSize</key>
                <string>{84,76}</string>
                <key>textureRect</key>
                <string>{{258,1020},{82,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0walk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.75,0.461538}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{78,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,78}</string>
                <key>textureRect</key>
                <string>{{242,942},{78,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1attack00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.461538,0.42029}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{89,67}</string>
                <key>spriteSourceSize</key>
                <string>{91,69}</string>
                <key>textureRect</key>
                <string>{{356,288},{89,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1attack01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.352201,0.458716}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{157,107}</string>
                <key>spriteSourceSize</key>
                <string>{159,109}</string>
                <key>textureRect</key>
                <string>{{343,1},{157,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1attack10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.380435,0.402778}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{92,72}</string>
                <key>textureRect</key>
                <string>{{410,187},{90,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1attack11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.333333,0.454545}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{154,108}</string>
                <key>spriteSourceSize</key>
                <string>{156,110}</string>
                <key>textureRect</key>
                <string>{{183,111},{154,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1attack20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612581,0.440299}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{91,65}</string>
                <key>spriteSourceSize</key>
                <string>{93,67}</string>
                <key>textureRect</key>
                <string>{{265,875},{91,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1attack21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.733373,0.422535}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{81,69}</string>
                <key>spriteSourceSize</key>
                <string>{83,71}</string>
                <key>textureRect</key>
                <string>{{339,205},{81,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1attack22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.369184,0.298077}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{145,102}</string>
                <key>spriteSourceSize</key>
                <string>{147,104}</string>
                <key>textureRect</key>
                <string>{{1,779},{145,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1attack30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.607826,0.341176}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{67,83}</string>
                <key>spriteSourceSize</key>
                <string>{69,85}</string>
                <key>textureRect</key>
                <string>{{356,379},{67,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1attack31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.488983,0.298969}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{57,95}</string>
                <key>spriteSourceSize</key>
                <string>{59,97}</string>
                <key>textureRect</key>
                <string>{{354,469},{57,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1attack32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.290851,0.691057}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{139,121}</string>
                <key>spriteSourceSize</key>
                <string>{141,123}</string>
                <key>textureRect</key>
                <string>{{1,509},{139,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1attack40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.657732,0.341176}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{95,83}</string>
                <key>spriteSourceSize</key>
                <string>{97,85}</string>
                <key>textureRect</key>
                <string>{{269,469},{95,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1attack41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.0888889,0.426471}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{106,66}</string>
                <key>spriteSourceSize</key>
                <string>{108,68}</string>
                <key>textureRect</key>
                <string>{{142,385},{106,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1attack42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.363141,0.586957}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{154,90}</string>
                <key>spriteSourceSize</key>
                <string>{156,92}</string>
                <key>textureRect</key>
                <string>{{183,221},{154,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1attack50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.618442,0.644231}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{75,102}</string>
                <key>spriteSourceSize</key>
                <string>{77,104}</string>
                <key>textureRect</key>
                <string>{{150,597},{75,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1attack51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.607347,0.254717}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{47,104}</string>
                <key>spriteSourceSize</key>
                <string>{49,106}</string>
                <key>textureRect</key>
                <string>{{220,488},{47,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1attack52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.475,0.295455}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{62,86}</string>
                <key>spriteSourceSize</key>
                <string>{64,88}</string>
                <key>textureRect</key>
                <string>{{242,811},{62,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1attack53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.440055,0.558394}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{180,135}</string>
                <key>spriteSourceSize</key>
                <string>{182,137}</string>
                <key>textureRect</key>
                <string>{{1,138},{180,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1dead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.418364,0.677778}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{108,43}</string>
                <key>spriteSourceSize</key>
                <string>{110,45}</string>
                <key>textureRect</key>
                <string>{{105,742},{108,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1evade0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.338889,0.447761}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{52,65}</string>
                <key>spriteSourceSize</key>
                <string>{54,67}</string>
                <key>textureRect</key>
                <string>{{413,816},{52,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1evade1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.375882,0.452239}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{49,65}</string>
                <key>spriteSourceSize</key>
                <string>{51,67}</string>
                <key>textureRect</key>
                <string>{{412,883},{49,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1evade2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.554138,0.343373}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{56,81}</string>
                <key>spriteSourceSize</key>
                <string>{58,83}</string>
                <key>textureRect</key>
                <string>{{330,816},{56,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1fly0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.709303,0.275}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{70,98}</string>
                <key>spriteSourceSize</key>
                <string>{72,100}</string>
                <key>textureRect</key>
                <string>{{367,566},{70,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1fly1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.709303,0.277228}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{68,99}</string>
                <key>spriteSourceSize</key>
                <string>{70,101}</string>
                <key>textureRect</key>
                <string>{{297,566},{68,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1idle0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.383721,0.402778}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{84,70}</string>
                <key>spriteSourceSize</key>
                <string>{86,72}</string>
                <key>textureRect</key>
                <string>{{294,739},{84,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1idle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.4,0.410959}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{83,71}</string>
                <key>spriteSourceSize</key>
                <string>{85,73}</string>
                <key>textureRect</key>
                <string>{{425,259},{83,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1idle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.409639,0.410959}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{81,71}</string>
                <key>spriteSourceSize</key>
                <string>{83,73}</string>
                <key>textureRect</key>
                <string>{{413,474},{81,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1jump0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.72338,0.308511}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{69,92}</string>
                <key>spriteSourceSize</key>
                <string>{71,94}</string>
                <key>textureRect</key>
                <string>{{339,111},{69,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1ladder0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.510638,0.415493}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{45,69}</string>
                <key>spriteSourceSize</key>
                <string>{47,71}</string>
                <key>textureRect</key>
                <string>{{427,1018},{45,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1ladder1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.496596,0.415493}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{45,69}</string>
                <key>spriteSourceSize</key>
                <string>{47,71}</string>
                <key>textureRect</key>
                <string>{{449,630},{45,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1rope0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.496596,0.39726}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{45,71}</string>
                <key>spriteSourceSize</key>
                <string>{47,73}</string>
                <key>textureRect</key>
                <string>{{425,427},{45,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1rope1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.496596,0.410959}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{45,66}</string>
                <key>spriteSourceSize</key>
                <string>{47,68}</string>
                <key>textureRect</key>
                <string>{{406,950},{45,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1walk0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.314607,0.460909}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{87,75}</string>
                <key>spriteSourceSize</key>
                <string>{89,77}</string>
                <key>textureRect</key>
                <string>{{413,110},{87,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1walk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.321429,0.434211}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{82,74}</string>
                <key>spriteSourceSize</key>
                <string>{84,76}</string>
                <key>textureRect</key>
                <string>{{322,942},{82,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1walk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.316456,0.467532}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{77,75}</string>
                <key>spriteSourceSize</key>
                <string>{79,77}</string>
                <key>textureRect</key>
                <string>{{179,1020},{77,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ppp.png</string>
            <key>size</key>
            <string>{501,1096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d17cd0ce673e59ecce46e556126ee61a:2bbef49488f2ea522a0ce26ceca58b89:dad1f358ee937ce39d2fa1aa8d3c0041$</string>
            <key>textureFileName</key>
            <string>ppp.png</string>
        </dict>
    </dict>
</plist>
