<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{89,68}</string>
                <key>spriteSourceSize</key>
                <string>{91,70}</string>
                <key>textureRect</key>
                <string>{{161,195},{89,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{158,108}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{1,138},{158,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{90,71}</string>
                <key>spriteSourceSize</key>
                <string>{92,73}</string>
                <key>textureRect</key>
                <string>{{157,404},{90,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{154,108}</string>
                <key>spriteSourceSize</key>
                <string>{156,110}</string>
                <key>textureRect</key>
                <string>{{1,248},{154,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{91,65}</string>
                <key>spriteSourceSize</key>
                <string>{93,67}</string>
                <key>textureRect</key>
                <string>{{157,337},{91,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{81,70}</string>
                <key>spriteSourceSize</key>
                <string>{83,72}</string>
                <key>textureRect</key>
                <string>{{1,985},{81,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{145,102}</string>
                <key>spriteSourceSize</key>
                <string>{147,104}</string>
                <key>textureRect</key>
                <string>{{1,450},{145,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{67,84}</string>
                <key>spriteSourceSize</key>
                <string>{69,86}</string>
                <key>textureRect</key>
                <string>{{183,109},{67,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{57,96}</string>
                <key>spriteSourceSize</key>
                <string>{59,98}</string>
                <key>textureRect</key>
                <string>{{102,719},{57,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{139,122}</string>
                <key>spriteSourceSize</key>
                <string>{141,124}</string>
                <key>textureRect</key>
                <string>{{1,554},{139,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{95,84}</string>
                <key>spriteSourceSize</key>
                <string>{97,86}</string>
                <key>textureRect</key>
                <string>{{1,750},{95,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{106,67}</string>
                <key>spriteSourceSize</key>
                <string>{108,69}</string>
                <key>textureRect</key>
                <string>{{183,1},{106,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{154,90}</string>
                <key>spriteSourceSize</key>
                <string>{156,92}</string>
                <key>textureRect</key>
                <string>{{1,358},{154,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{76,102}</string>
                <key>spriteSourceSize</key>
                <string>{78,104}</string>
                <key>textureRect</key>
                <string>{{148,477},{76,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{47,104}</string>
                <key>spriteSourceSize</key>
                <string>{49,106}</string>
                <key>textureRect</key>
                <string>{{142,600},{47,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{62,86}</string>
                <key>spriteSourceSize</key>
                <string>{64,88}</string>
                <key>textureRect</key>
                <string>{{188,786},{62,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{180,135}</string>
                <key>spriteSourceSize</key>
                <string>{182,137}</string>
                <key>textureRect</key>
                <string>{{1,1},{180,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{108,43}</string>
                <key>spriteSourceSize</key>
                <string>{110,45}</string>
                <key>textureRect</key>
                <string>{{142,555},{108,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evade0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{52,66}</string>
                <key>spriteSourceSize</key>
                <string>{54,68}</string>
                <key>textureRect</key>
                <string>{{1,1057},{52,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>evade1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{49,65}</string>
                <key>spriteSourceSize</key>
                <string>{51,67}</string>
                <key>textureRect</key>
                <string>{{200,719},{49,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evade2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{56,81}</string>
                <key>spriteSourceSize</key>
                <string>{58,83}</string>
                <key>textureRect</key>
                <string>{{168,952},{56,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fly0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{70,99}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{1,678},{70,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fly1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{68,100}</string>
                <key>spriteSourceSize</key>
                <string>{70,102}</string>
                <key>textureRect</key>
                <string>{{142,649},{68,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{84,71}</string>
                <key>spriteSourceSize</key>
                <string>{86,73}</string>
                <key>textureRect</key>
                <string>{{1,836},{84,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{83,71}</string>
                <key>spriteSourceSize</key>
                <string>{85,73}</string>
                <key>textureRect</key>
                <string>{{87,856},{83,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{81,71}</string>
                <key>spriteSourceSize</key>
                <string>{83,73}</string>
                <key>textureRect</key>
                <string>{{85,929},{81,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{70,92}</string>
                <key>spriteSourceSize</key>
                <string>{72,94}</string>
                <key>textureRect</key>
                <string>{{157,265},{70,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ladder0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{45,69}</string>
                <key>spriteSourceSize</key>
                <string>{47,71}</string>
                <key>textureRect</key>
                <string>{{84,1010},{45,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ladder1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{45,69}</string>
                <key>spriteSourceSize</key>
                <string>{47,71}</string>
                <key>textureRect</key>
                <string>{{142,1057},{45,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rope0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{45,71}</string>
                <key>spriteSourceSize</key>
                <string>{47,73}</string>
                <key>textureRect</key>
                <string>{{69,1057},{45,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rope1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{45,66}</string>
                <key>spriteSourceSize</key>
                <string>{47,68}</string>
                <key>textureRect</key>
                <string>{{155,1010},{45,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walk0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{88,76}</string>
                <key>spriteSourceSize</key>
                <string>{90,78}</string>
                <key>textureRect</key>
                <string>{{98,778},{88,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{82,74}</string>
                <key>spriteSourceSize</key>
                <string>{84,76}</string>
                <key>textureRect</key>
                <string>{{1,909},{82,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{78,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,78}</string>
                <key>textureRect</key>
                <string>{{172,874},{78,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ppp.png</string>
            <key>size</key>
            <string>{251,1110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd737271fa07a71348b4622310d3587f:e35af1111177ed7b041191e0ca917101:dad1f358ee937ce39d2fa1aa8d3c0041$</string>
            <key>textureFileName</key>
            <string>ppp.png</string>
        </dict>
    </dict>
</plist>
