<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gold0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,24}</string>
                <key>spriteSourceSize</key>
                <string>{23,24}</string>
                <key>textureRect</key>
                <string>{{53,35},{23,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,24}</string>
                <key>spriteSourceSize</key>
                <string>{25,24}</string>
                <key>textureRect</key>
                <string>{{1,35},{25,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,24}</string>
                <key>spriteSourceSize</key>
                <string>{23,24}</string>
                <key>textureRect</key>
                <string>{{78,35},{23,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,24}</string>
                <key>spriteSourceSize</key>
                <string>{5,24}</string>
                <key>textureRect</key>
                <string>{{187,33},{5,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>money0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,30}</string>
                <key>spriteSourceSize</key>
                <string>{31,30}</string>
                <key>textureRect</key>
                <string>{{168,1},{31,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>money1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{153,33},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>money2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,30}</string>
                <key>spriteSourceSize</key>
                <string>{33,30}</string>
                <key>textureRect</key>
                <string>{{133,1},{33,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>money3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{153,33},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>silver0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,24}</string>
                <key>spriteSourceSize</key>
                <string>{23,24}</string>
                <key>textureRect</key>
                <string>{{103,35},{23,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>silver1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,24}</string>
                <key>spriteSourceSize</key>
                <string>{25,24}</string>
                <key>textureRect</key>
                <string>{{27,35},{25,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>silver2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,24}</string>
                <key>spriteSourceSize</key>
                <string>{23,24}</string>
                <key>textureRect</key>
                <string>{{128,35},{23,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>silver3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,24}</string>
                <key>spriteSourceSize</key>
                <string>{5,24}</string>
                <key>textureRect</key>
                <string>{{194,33},{5,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{32,31}</string>
                <key>textureRect</key>
                <string>{{1,1},{32,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>treasure1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{32,31}</string>
                <key>textureRect</key>
                <string>{{34,1},{32,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>treasure2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{32,31}</string>
                <key>textureRect</key>
                <string>{{67,1},{32,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>treasure3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{32,31}</string>
                <key>textureRect</key>
                <string>{{100,1},{32,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>drops.png</string>
            <key>size</key>
            <string>{200,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d209eca48bfa804f941ba7076c207d26:e1e43eca7b195201fa0339f0cbdd099c:0813254ac9697f8113f35a727520d6ed$</string>
            <key>textureFileName</key>
            <string>drops.png</string>
        </dict>
    </dict>
</plist>
