<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3020_attack1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.572614,0.458498}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,253}</string>
                <key>spriteSourceSize</key>
                <string>{241,253}</string>
                <key>textureRect</key>
                <string>{{241,1233},{241,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_attack11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.722458,0.543933}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,239}</string>
                <key>spriteSourceSize</key>
                <string>{472,239}</string>
                <key>textureRect</key>
                <string>{{780,0},{472,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_attack13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.762963,0.577689}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,251}</string>
                <key>spriteSourceSize</key>
                <string>{540,251}</string>
                <key>textureRect</key>
                <string>{{1096,729},{540,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_attack14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.771107,0.592157}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{533,255}</string>
                <key>spriteSourceSize</key>
                <string>{533,255}</string>
                <key>textureRect</key>
                <string>{{1256,1233},{533,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_attack2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.579365,0.489879}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,247}</string>
                <key>spriteSourceSize</key>
                <string>{252,247}</string>
                <key>textureRect</key>
                <string>{{1714,482},{252,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_attack3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.585657,0.495935}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,246}</string>
                <key>spriteSourceSize</key>
                <string>{251,246}</string>
                <key>textureRect</key>
                <string>{{1463,482},{251,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_attack4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.597561,0.49004}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,251}</string>
                <key>spriteSourceSize</key>
                <string>{246,251}</string>
                <key>textureRect</key>
                <string>{{1636,729},{246,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_attack5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.583333,0.484375}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,256}</string>
                <key>spriteSourceSize</key>
                <string>{240,256}</string>
                <key>textureRect</key>
                <string>{{478,1488},{240,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_attack6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.56087,0.48062}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,258}</string>
                <key>spriteSourceSize</key>
                <string>{230,258}</string>
                <key>textureRect</key>
                <string>{{1382,1488},{230,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_attack7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.53211,0.478764}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,259}</string>
                <key>spriteSourceSize</key>
                <string>{218,259}</string>
                <key>textureRect</key>
                <string>{{722,1746},{218,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_attack8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.521127,0.486381}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,257}</string>
                <key>spriteSourceSize</key>
                <string>{213,257}</string>
                <key>textureRect</key>
                <string>{{956,1488},{213,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_die0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.4689,0.464}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,250}</string>
                <key>spriteSourceSize</key>
                <string>{209,250}</string>
                <key>textureRect</key>
                <string>{{465,729},{209,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_die1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.471429,0.483333}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,240}</string>
                <key>spriteSourceSize</key>
                <string>{210,240}</string>
                <key>textureRect</key>
                <string>{{418,240},{210,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_die3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.487805,0.512397}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,242}</string>
                <key>spriteSourceSize</key>
                <string>{205,242}</string>
                <key>textureRect</key>
                <string>{{1519,240},{205,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_die4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5125}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,240}</string>
                <key>spriteSourceSize</key>
                <string>{208,240}</string>
                <key>textureRect</key>
                <string>{{0,240},{208,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_die5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.509434,0.508403}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,238}</string>
                <key>spriteSourceSize</key>
                <string>{212,238}</string>
                <key>textureRect</key>
                <string>{{568,0},{212,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_hurt0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.460094,0.464}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,250}</string>
                <key>spriteSourceSize</key>
                <string>{213,250}</string>
                <key>textureRect</key>
                <string>{{883,729},{213,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_special1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.568465,0.44664}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,253}</string>
                <key>spriteSourceSize</key>
                <string>{241,253}</string>
                <key>textureRect</key>
                <string>{{1782,980},{241,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_special12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.612245,0.539419}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,241}</string>
                <key>spriteSourceSize</key>
                <string>{343,241}</string>
                <key>textureRect</key>
                <string>{{971,240},{343,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_special13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.630986,0.55102}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,245}</string>
                <key>spriteSourceSize</key>
                <string>{355,245}</string>
                <key>textureRect</key>
                <string>{{355,482},{355,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_special2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.575397,0.468254}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,252}</string>
                <key>spriteSourceSize</key>
                <string>{252,252}</string>
                <key>textureRect</key>
                <string>{{1530,980},{252,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_special3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.581673,0.48374}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,246}</string>
                <key>spriteSourceSize</key>
                <string>{251,246}</string>
                <key>textureRect</key>
                <string>{{961,482},{251,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_special4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.593496,0.478088}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,251}</string>
                <key>spriteSourceSize</key>
                <string>{246,251}</string>
                <key>textureRect</key>
                <string>{{786,980},{246,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_special5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.584034,0.472656}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,256}</string>
                <key>spriteSourceSize</key>
                <string>{238,256}</string>
                <key>textureRect</key>
                <string>{{718,1488},{238,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_special6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.595238,0.468992}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,258}</string>
                <key>spriteSourceSize</key>
                <string>{252,258}</string>
                <key>textureRect</key>
                <string>{{0,1746},{252,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_special7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.527523,0.467181}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,259}</string>
                <key>spriteSourceSize</key>
                <string>{218,259}</string>
                <key>textureRect</key>
                <string>{{504,1746},{218,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_special8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.516432,0.469231}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,260}</string>
                <key>spriteSourceSize</key>
                <string>{213,260}</string>
                <key>textureRect</key>
                <string>{{1376,1746},{213,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_attack1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.593361,0.458498}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,253}</string>
                <key>spriteSourceSize</key>
                <string>{241,253}</string>
                <key>textureRect</key>
                <string>{{482,1233},{241,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_attack11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.362288,0.548117}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,239}</string>
                <key>spriteSourceSize</key>
                <string>{472,239}</string>
                <key>textureRect</key>
                <string>{{1252,0},{472,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_attack13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.311111,0.581673}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,251}</string>
                <key>spriteSourceSize</key>
                <string>{540,251}</string>
                <key>textureRect</key>
                <string>{{0,980},{540,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_attack14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.302064,0.592157}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{533,255}</string>
                <key>spriteSourceSize</key>
                <string>{533,255}</string>
                <key>textureRect</key>
                <string>{{723,1233},{533,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_attack2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.579365,0.489879}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,247}</string>
                <key>spriteSourceSize</key>
                <string>{252,247}</string>
                <key>textureRect</key>
                <string>{{0,729},{252,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_attack3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.573705,0.495935}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,246}</string>
                <key>spriteSourceSize</key>
                <string>{251,246}</string>
                <key>textureRect</key>
                <string>{{1212,482},{251,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_attack4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.565041,0.49004}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,251}</string>
                <key>spriteSourceSize</key>
                <string>{246,251}</string>
                <key>textureRect</key>
                <string>{{1032,980},{246,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_attack5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.583333,0.484375}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,256}</string>
                <key>spriteSourceSize</key>
                <string>{240,256}</string>
                <key>textureRect</key>
                <string>{{238,1488},{240,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_attack6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.613043,0.48062}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,258}</string>
                <key>spriteSourceSize</key>
                <string>{230,258}</string>
                <key>textureRect</key>
                <string>{{1612,1488},{230,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_attack7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.651376,0.478764}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,259}</string>
                <key>spriteSourceSize</key>
                <string>{218,259}</string>
                <key>textureRect</key>
                <string>{{940,1746},{218,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_attack8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.666667,0.486381}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,257}</string>
                <key>spriteSourceSize</key>
                <string>{213,257}</string>
                <key>textureRect</key>
                <string>{{1169,1488},{213,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_die0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.717703,0.464}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,250}</string>
                <key>spriteSourceSize</key>
                <string>{209,250}</string>
                <key>textureRect</key>
                <string>{{674,729},{209,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_die1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.714286,0.483333}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,240}</string>
                <key>spriteSourceSize</key>
                <string>{210,240}</string>
                <key>textureRect</key>
                <string>{{208,240},{210,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_die3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.702439,0.504132}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,242}</string>
                <key>spriteSourceSize</key>
                <string>{205,242}</string>
                <key>textureRect</key>
                <string>{{1314,240},{205,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_die4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.6875,0.504167}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,240}</string>
                <key>spriteSourceSize</key>
                <string>{208,240}</string>
                <key>textureRect</key>
                <string>{{1724,0},{208,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_die5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.674528,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,238}</string>
                <key>spriteSourceSize</key>
                <string>{212,238}</string>
                <key>textureRect</key>
                <string>{{356,0},{212,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_hurt0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.723005,0.464}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,250}</string>
                <key>spriteSourceSize</key>
                <string>{213,250}</string>
                <key>textureRect</key>
                <string>{{252,729},{213,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_special1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.593361,0.458498}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,253}</string>
                <key>spriteSourceSize</key>
                <string>{241,253}</string>
                <key>textureRect</key>
                <string>{{0,1233},{241,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_special10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.67619,0.480769}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,260}</string>
                <key>spriteSourceSize</key>
                <string>{210,260}</string>
                <key>textureRect</key>
                <string>{{1802,1746},{210,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_special12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.466472,0.551867}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,241}</string>
                <key>spriteSourceSize</key>
                <string>{343,241}</string>
                <key>textureRect</key>
                <string>{{628,240},{343,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_special13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.44507,0.563265}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,245}</string>
                <key>spriteSourceSize</key>
                <string>{355,245}</string>
                <key>textureRect</key>
                <string>{{0,482},{355,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_special14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.435393,0.565401}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,237}</string>
                <key>spriteSourceSize</key>
                <string>{356,237}</string>
                <key>textureRect</key>
                <string>{{0,0},{356,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_special2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.579365,0.480159}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,252}</string>
                <key>spriteSourceSize</key>
                <string>{252,252}</string>
                <key>textureRect</key>
                <string>{{1278,980},{252,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_special3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.573705,0.495935}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,246}</string>
                <key>spriteSourceSize</key>
                <string>{251,246}</string>
                <key>textureRect</key>
                <string>{{710,482},{251,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_special4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.565041,0.49004}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,251}</string>
                <key>spriteSourceSize</key>
                <string>{246,251}</string>
                <key>textureRect</key>
                <string>{{540,980},{246,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_special5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.579832,0.484375}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,256}</string>
                <key>spriteSourceSize</key>
                <string>{238,256}</string>
                <key>textureRect</key>
                <string>{{0,1488},{238,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_special6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.559524,0.48062}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,258}</string>
                <key>spriteSourceSize</key>
                <string>{252,258}</string>
                <key>textureRect</key>
                <string>{{252,1746},{252,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_special7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.651376,0.478764}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,259}</string>
                <key>spriteSourceSize</key>
                <string>{218,259}</string>
                <key>textureRect</key>
                <string>{{1158,1746},{218,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_special8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.666667,0.480769}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,260}</string>
                <key>spriteSourceSize</key>
                <string>{213,260}</string>
                <key>textureRect</key>
                <string>{{1589,1746},{213,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Map3-3.png</string>
            <key>size</key>
            <string>{2023,2006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13f091ca916a4867fdbf55d403f3a97b:72c8f55ddfca75bf2263d78659561374:4445781746cffdeb342dc6436dc8cb29$</string>
            <key>textureFileName</key>
            <string>Map3-3.png</string>
        </dict>
    </dict>
</plist>
