<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3020_attack10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.514286,0.480769}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,260}</string>
                <key>spriteSourceSize</key>
                <string>{210,260}</string>
                <key>textureRect</key>
                <string>{{210,0},{210,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_attack15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.778612,0.596958}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{533,263}</string>
                <key>spriteSourceSize</key>
                <string>{533,263}</string>
                <key>textureRect</key>
                <string>{{420,0},{533,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_attack16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.798479,0.549618}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,262}</string>
                <key>spriteSourceSize</key>
                <string>{526,262}</string>
                <key>textureRect</key>
                <string>{{953,0},{526,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_attack9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.514286,0.480769}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,260}</string>
                <key>spriteSourceSize</key>
                <string>{210,260}</string>
                <key>textureRect</key>
                <string>{{0,0},{210,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_special10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.509524,0.469231}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,260}</string>
                <key>spriteSourceSize</key>
                <string>{210,260}</string>
                <key>textureRect</key>
                <string>{{1689,0},{210,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_special9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.509524,0.469231}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,260}</string>
                <key>spriteSourceSize</key>
                <string>{210,260}</string>
                <key>textureRect</key>
                <string>{{1479,0},{210,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_attack10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.67619,0.480769}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,260}</string>
                <key>spriteSourceSize</key>
                <string>{210,260}</string>
                <key>textureRect</key>
                <string>{{210,263},{210,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_attack15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.294559,0.596958}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{533,263}</string>
                <key>spriteSourceSize</key>
                <string>{533,263}</string>
                <key>textureRect</key>
                <string>{{420,263},{533,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_attack16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.275665,0.549618}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,262}</string>
                <key>spriteSourceSize</key>
                <string>{526,262}</string>
                <key>textureRect</key>
                <string>{{953,263},{526,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_attack9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.67619,0.480769}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,260}</string>
                <key>spriteSourceSize</key>
                <string>{210,260}</string>
                <key>textureRect</key>
                <string>{{0,263},{210,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_special9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.67619,0.480769}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,260}</string>
                <key>spriteSourceSize</key>
                <string>{210,260}</string>
                <key>textureRect</key>
                <string>{{1479,263},{210,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Map3-4.png</string>
            <key>size</key>
            <string>{1899,526}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13f091ca916a4867fdbf55d403f3a97b:72c8f55ddfca75bf2263d78659561374:4445781746cffdeb342dc6436dc8cb29$</string>
            <key>textureFileName</key>
            <string>Map3-4.png</string>
        </dict>
    </dict>
</plist>
