<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3020_attack0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.497561,0.502146}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,233}</string>
                <key>spriteSourceSize</key>
                <string>{205,233}</string>
                <key>textureRect</key>
                <string>{{1027,682},{205,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_attack12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.749515,0.544304}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{515,237}</string>
                <key>spriteSourceSize</key>
                <string>{515,237}</string>
                <key>textureRect</key>
                <string>{{0,1619},{515,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_attack17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.497561,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,232}</string>
                <key>spriteSourceSize</key>
                <string>{205,232}</string>
                <key>textureRect</key>
                <string>{{1021,450},{205,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_attack18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.497561,0.50431}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,232}</string>
                <key>spriteSourceSize</key>
                <string>{205,232}</string>
                <key>textureRect</key>
                <string>{{416,682},{205,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_attack19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.497561,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,232}</string>
                <key>spriteSourceSize</key>
                <string>{205,232}</string>
                <key>textureRect</key>
                <string>{{410,450},{205,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_die2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.497512,0.493617}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,235}</string>
                <key>spriteSourceSize</key>
                <string>{201,235}</string>
                <key>textureRect</key>
                <string>{{1030,1149},{201,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_idle0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.497561,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,232}</string>
                <key>spriteSourceSize</key>
                <string>{205,232}</string>
                <key>textureRect</key>
                <string>{{0,682},{205,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_idle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.492683,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,234}</string>
                <key>spriteSourceSize</key>
                <string>{205,234}</string>
                <key>textureRect</key>
                <string>{{204,1149},{205,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_idle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.497872}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,235}</string>
                <key>spriteSourceSize</key>
                <string>{201,235}</string>
                <key>textureRect</key>
                <string>{{708,1384},{201,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_idle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.478673,0.493617}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,235}</string>
                <key>spriteSourceSize</key>
                <string>{211,235}</string>
                <key>textureRect</key>
                <string>{{819,1149},{211,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_idle4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.492683,0.493617}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,235}</string>
                <key>spriteSourceSize</key>
                <string>{205,235}</string>
                <key>textureRect</key>
                <string>{{1643,1149},{205,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_idle5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.492683,0.502146}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,233}</string>
                <key>spriteSourceSize</key>
                <string>{205,233}</string>
                <key>textureRect</key>
                <string>{{1049,915},{205,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_idle6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.502488,0.50431}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,232}</string>
                <key>spriteSourceSize</key>
                <string>{201,232}</string>
                <key>textureRect</key>
                <string>{{621,682},{201,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_idle7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.478673,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,232}</string>
                <key>spriteSourceSize</key>
                <string>{211,232}</string>
                <key>textureRect</key>
                <string>{{205,682},{211,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_moving0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,226}</string>
                <key>spriteSourceSize</key>
                <string>{204,226}</string>
                <key>textureRect</key>
                <string>{{544,219},{204,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_moving1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.492683,0.493506}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,231}</string>
                <key>spriteSourceSize</key>
                <string>{205,231}</string>
                <key>textureRect</key>
                <string>{{0,450},{205,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_moving2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.495098,0.493562}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,233}</string>
                <key>spriteSourceSize</key>
                <string>{204,233}</string>
                <key>textureRect</key>
                <string>{{1232,682},{204,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_moving3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.487179}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,234}</string>
                <key>spriteSourceSize</key>
                <string>{204,234}</string>
                <key>textureRect</key>
                <string>{{0,1149},{204,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_moving4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.52,0.482906}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,234}</string>
                <key>spriteSourceSize</key>
                <string>{200,234}</string>
                <key>textureRect</key>
                <string>{{1458,915},{200,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_moving5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.484848}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,231}</string>
                <key>spriteSourceSize</key>
                <string>{208,231}</string>
                <key>textureRect</key>
                <string>{{1562,219},{208,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_special0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.497561,0.48927}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,233}</string>
                <key>spriteSourceSize</key>
                <string>{205,233}</string>
                <key>textureRect</key>
                <string>{{844,915},{205,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_special11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.575949,0.523207}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,237}</string>
                <key>spriteSourceSize</key>
                <string>{316,237}</string>
                <key>textureRect</key>
                <string>{{1030,1619},{316,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_special14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.640449,0.552743}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,237}</string>
                <key>spriteSourceSize</key>
                <string>{356,237}</string>
                <key>textureRect</key>
                <string>{{1662,1619},{356,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_special15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.623881,0.557447}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,235}</string>
                <key>spriteSourceSize</key>
                <string>{335,235}</string>
                <key>textureRect</key>
                <string>{{1445,1384},{335,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_special16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.644068,0.557447}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,235}</string>
                <key>spriteSourceSize</key>
                <string>{354,235}</string>
                <key>textureRect</key>
                <string>{{354,1384},{354,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_special17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.586885,0.547826}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,230}</string>
                <key>spriteSourceSize</key>
                <string>{305,230}</string>
                <key>textureRect</key>
                <string>{{1257,219},{305,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_special18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.557895,0.520737}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,217}</string>
                <key>spriteSourceSize</key>
                <string>{285,217}</string>
                <key>textureRect</key>
                <string>{{1078,0},{285,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_special19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.557895,0.520737}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,217}</string>
                <key>spriteSourceSize</key>
                <string>{285,217}</string>
                <key>textureRect</key>
                <string>{{793,0},{285,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_special20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.558719,0.515982}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,219}</string>
                <key>spriteSourceSize</key>
                <string>{281,219}</string>
                <key>textureRect</key>
                <string>{{1644,0},{281,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_special21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.558824,0.511312}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,221}</string>
                <key>spriteSourceSize</key>
                <string>{272,221}</string>
                <key>textureRect</key>
                <string>{{272,219},{272,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020_special22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.556522,0.484979}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,233}</string>
                <key>spriteSourceSize</key>
                <string>{230,233}</string>
                <key>textureRect</key>
                <string>{{1641,682},{230,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_attack0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.692683,0.502146}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,233}</string>
                <key>spriteSourceSize</key>
                <string>{205,233}</string>
                <key>textureRect</key>
                <string>{{1436,682},{205,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_attack12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.328155,0.548523}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{515,237}</string>
                <key>spriteSourceSize</key>
                <string>{515,237}</string>
                <key>textureRect</key>
                <string>{{515,1619},{515,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_attack17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.692683,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,232}</string>
                <key>spriteSourceSize</key>
                <string>{205,232}</string>
                <key>textureRect</key>
                <string>{{816,450},{205,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_attack18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.692683,0.49569}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,232}</string>
                <key>spriteSourceSize</key>
                <string>{205,232}</string>
                <key>textureRect</key>
                <string>{{822,682},{205,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_attack19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.692683,0.49569}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,232}</string>
                <key>spriteSourceSize</key>
                <string>{205,232}</string>
                <key>textureRect</key>
                <string>{{1642,450},{205,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_die2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.696517,0.493617}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,235}</string>
                <key>spriteSourceSize</key>
                <string>{201,235}</string>
                <key>textureRect</key>
                <string>{{909,1384},{201,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_idle0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.692683,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,232}</string>
                <key>spriteSourceSize</key>
                <string>{205,232}</string>
                <key>textureRect</key>
                <string>{{1437,450},{205,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_idle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.692683,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,234}</string>
                <key>spriteSourceSize</key>
                <string>{205,234}</string>
                <key>textureRect</key>
                <string>{{409,1149},{205,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_idle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.686567,0.493617}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,235}</string>
                <key>spriteSourceSize</key>
                <string>{201,235}</string>
                <key>textureRect</key>
                <string>{{1442,1149},{201,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_idle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.701422,0.489362}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,235}</string>
                <key>spriteSourceSize</key>
                <string>{211,235}</string>
                <key>textureRect</key>
                <string>{{1231,1149},{211,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_idle4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.692683,0.493617}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,235}</string>
                <key>spriteSourceSize</key>
                <string>{205,235}</string>
                <key>textureRect</key>
                <string>{{614,1149},{205,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_idle5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.692683,0.493562}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,233}</string>
                <key>spriteSourceSize</key>
                <string>{205,233}</string>
                <key>textureRect</key>
                <string>{{204,915},{205,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_idle6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.686567,0.491379}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,232}</string>
                <key>spriteSourceSize</key>
                <string>{201,232}</string>
                <key>textureRect</key>
                <string>{{615,450},{201,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_idle7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.701422,0.49569}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,232}</string>
                <key>spriteSourceSize</key>
                <string>{211,232}</string>
                <key>textureRect</key>
                <string>{{1226,450},{211,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_moving0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.691176,0.513274}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,226}</string>
                <key>spriteSourceSize</key>
                <string>{204,226}</string>
                <key>textureRect</key>
                <string>{{748,219},{204,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_moving1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.697561,0.506494}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,231}</string>
                <key>spriteSourceSize</key>
                <string>{205,231}</string>
                <key>textureRect</key>
                <string>{{205,450},{205,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_moving2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.696078,0.502146}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,233}</string>
                <key>spriteSourceSize</key>
                <string>{204,233}</string>
                <key>textureRect</key>
                <string>{{0,915},{204,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_moving3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.691176,0.495726}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,234}</string>
                <key>spriteSourceSize</key>
                <string>{204,234}</string>
                <key>textureRect</key>
                <string>{{1254,915},{204,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_moving4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.675,0.495726}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,234}</string>
                <key>spriteSourceSize</key>
                <string>{200,234}</string>
                <key>textureRect</key>
                <string>{{1658,915},{200,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_moving5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.6875,0.506494}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,231}</string>
                <key>spriteSourceSize</key>
                <string>{208,231}</string>
                <key>textureRect</key>
                <string>{{1770,219},{208,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_special0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.692683,0.502146}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,233}</string>
                <key>spriteSourceSize</key>
                <string>{205,233}</string>
                <key>textureRect</key>
                <string>{{409,915},{205,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_special11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.509494,0.535865}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,237}</string>
                <key>spriteSourceSize</key>
                <string>{316,237}</string>
                <key>textureRect</key>
                <string>{{1346,1619},{316,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_special15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.456716,0.570213}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,235}</string>
                <key>spriteSourceSize</key>
                <string>{335,235}</string>
                <key>textureRect</key>
                <string>{{1110,1384},{335,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_special16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.432203,0.570213}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,235}</string>
                <key>spriteSourceSize</key>
                <string>{354,235}</string>
                <key>textureRect</key>
                <string>{{0,1384},{354,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_special17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.501639,0.56087}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,230}</string>
                <key>spriteSourceSize</key>
                <string>{305,230}</string>
                <key>textureRect</key>
                <string>{{952,219},{305,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_special18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.536842,0.534562}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,217}</string>
                <key>spriteSourceSize</key>
                <string>{285,217}</string>
                <key>textureRect</key>
                <string>{{223,0},{285,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_special19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.536842,0.534562}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,217}</string>
                <key>spriteSourceSize</key>
                <string>{285,217}</string>
                <key>textureRect</key>
                <string>{{508,0},{285,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_special20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537367,0.52968}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,219}</string>
                <key>spriteSourceSize</key>
                <string>{281,219}</string>
                <key>textureRect</key>
                <string>{{1363,0},{281,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_special21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.540441,0.524887}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,221}</string>
                <key>spriteSourceSize</key>
                <string>{272,221}</string>
                <key>textureRect</key>
                <string>{{0,219},{272,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3021_special22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.56087,0.497854}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,233}</string>
                <key>spriteSourceSize</key>
                <string>{230,233}</string>
                <key>textureRect</key>
                <string>{{614,915},{230,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3100_attack8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.497758,0.483412}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,211}</string>
                <key>spriteSourceSize</key>
                <string>{223,211}</string>
                <key>textureRect</key>
                <string>{{0,0},{223,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Map3-2.png</string>
            <key>size</key>
            <string>{2018,1856}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13f091ca916a4867fdbf55d403f3a97b:72c8f55ddfca75bf2263d78659561374:4445781746cffdeb342dc6436dc8cb29$</string>
            <key>textureFileName</key>
            <string>Map3-2.png</string>
        </dict>
    </dict>
</plist>
