<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>teleportation0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,105}</string>
                <key>spriteSourceSize</key>
                <string>{96,105}</string>
                <key>textureRect</key>
                <string>{{0,0},{96,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleportation1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,105}</string>
                <key>spriteSourceSize</key>
                <string>{96,105}</string>
                <key>textureRect</key>
                <string>{{96,0},{96,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleportation10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,114}</string>
                <key>spriteSourceSize</key>
                <string>{99,114}</string>
                <key>textureRect</key>
                <string>{{0,548},{99,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleportation11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,114}</string>
                <key>spriteSourceSize</key>
                <string>{92,114}</string>
                <key>textureRect</key>
                <string>{{99,548},{92,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleportation12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,112}</string>
                <key>spriteSourceSize</key>
                <string>{96,112}</string>
                <key>textureRect</key>
                <string>{{0,662},{96,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleportation13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,112}</string>
                <key>spriteSourceSize</key>
                <string>{91,112}</string>
                <key>textureRect</key>
                <string>{{96,662},{91,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleportation14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,112}</string>
                <key>spriteSourceSize</key>
                <string>{95,112}</string>
                <key>textureRect</key>
                <string>{{0,774},{95,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleportation15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,112}</string>
                <key>spriteSourceSize</key>
                <string>{94,112}</string>
                <key>textureRect</key>
                <string>{{95,774},{94,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleportation2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,105}</string>
                <key>spriteSourceSize</key>
                <string>{96,105}</string>
                <key>textureRect</key>
                <string>{{0,105},{96,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleportation3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,105}</string>
                <key>spriteSourceSize</key>
                <string>{97,105}</string>
                <key>textureRect</key>
                <string>{{96,105},{97,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleportation4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,112}</string>
                <key>spriteSourceSize</key>
                <string>{96,112}</string>
                <key>textureRect</key>
                <string>{{0,210},{96,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleportation5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,112}</string>
                <key>spriteSourceSize</key>
                <string>{97,112}</string>
                <key>textureRect</key>
                <string>{{96,210},{97,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleportation6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,112}</string>
                <key>spriteSourceSize</key>
                <string>{96,112}</string>
                <key>textureRect</key>
                <string>{{0,322},{96,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleportation7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,112}</string>
                <key>spriteSourceSize</key>
                <string>{96,112}</string>
                <key>textureRect</key>
                <string>{{96,322},{96,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleportation8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,114}</string>
                <key>spriteSourceSize</key>
                <string>{99,114}</string>
                <key>textureRect</key>
                <string>{{0,434},{99,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleportation9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,114}</string>
                <key>spriteSourceSize</key>
                <string>{98,114}</string>
                <key>textureRect</key>
                <string>{{99,434},{98,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>teleportation.png</string>
            <key>size</key>
            <string>{197,886}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:861d735db79961d0945c562c8e47886a:02476bfbb3bc355f4bbe9b3b78c803bd:93007dd52457df260c67edc7dbe0c7f4$</string>
            <key>textureFileName</key>
            <string>teleportation.png</string>
        </dict>
    </dict>
</plist>
